.pheix-admin__cursor-pntr { cursor: pointer; }
.pheix-admin__floating-action-butt {
	position: fixed;
	display: block;
	right: 0;
	bottom: 0;
	margin-right: 40px;
	margin-bottom: 40px;
	z-index: 900;
}

.pheix-admin__dialog-shadow {
	box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2);
}

.pheix-admin__floating-action-butt:disabled { opacity:0.3; }

/* zoom in animation */

.pheix-admin__zoom-in-replay { display:inline-block; position: relative; top: 140px; opacity:0; cursor:pointer; }
.pheix-admin__zoom-in-replay:hover { color: rgba(255, 0, 0, 0.7) !important; }
.pheix-admin__zoom-in-replay .material-icons { font-size:35pt !important; }

.pheix-admin__home-page-tab .pheix-admin__zoom-in-animate {
	-moz-perspective: 1000;
	-webkit-perspective: 1000;
	-ms-perspective: 1000;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	top:-32px;
	position: relative;
	z-index: 9999999;
}

.pheix-admin__home-page-tab input.pheix-admin__zoom-checkbox {
	display: none;
}

.pheix-admin__home-page-tab input.pheix-admin__zoom-checkbox:checked + .pheix-admin__zoom-in-animate {
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
}

.pheix-admin__home-page-tab {
	width: auto;
	margin: 0px auto;
	position: relative;
	text-decoration: none;
}

/* autofill trick */

.pheix-admin__autofill-input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 1000px white inset !important;
	border-bottom: 2px solid #3F51B5 !important;
}

/* installed mods list */

.pheix-admin__strongtext { font-weight: bold; }
.pheix-admin__bluetext { color: #0080FF; }
.pheix-admin__redtext { color: #ea1b75; }
.pheix-admin__installed-mod-summary {
	font-family: 'Roboto', sans-serif;
	margin:0 0 20px 0;
	padding:0 0 0 16px;
	border-left: 5px solid #29c4da;
	list-style:none;
}

.pheix-admin__installed-mod-actions { border: 1px dashed #C0C0C0; }
.pheix-admin__installed-mod-actions-head { font-family: 'Roboto', sans-serif; padding: 20px; }
.pheix-admin__installed-mod-actions-head p { margin: 0 !important; }
.pheix-admin__installed-mod-actions-head .material-icons { margin-right: 20px; }
.pheix-admin__installed-mod-actions-text { font-family: 'Roboto', sans-serif; color: #aaa; padding: 20px 0 !important; overflow-x: auto; }
.pheix-admin__installed-mod-actions-text p { margin: 0px !important; font-size:12px !important; padding: 0 20px !important; }
.pheix-admin__whs-no-wrap { white-space: nowrap !important; }
.pheix-admin__overflow { white-space: nowrap !important; overflow-x: auto; }

/* newsletter */

.pheix-admin__newsletter {
	min-height: 250px;
	background-image: url('../images/pheix/illustr/newsletter-bg-2.jpg') !important;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.pheix-admin__newsletter .mdl-card__title-text { color: #fff !important; }
.pheix-admin__btn { background-color: #f7f7f7; }

/* file upload input */

.mdl-button--file  input {
	background-color:red;
	cursor: pointer;
	height: 100%;
	right: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 300px;
	z-index: 4;
}

.mdl-textfield--file .mdl-textfield__input {
	box-sizing: border-box;
	width: calc(100% - 32px);
}

.mdl-textfield--file .mdl-button--file {
	right: 0;
}

/* mdl tweaks */

.mdl-navigation__link p { padding: 0 !important; margin: 0 !important;  }
.mdl-navigation__link > .material-icons { margin-right: 15px; }
.mdl-layout__drawer-button > .material-icons { line-height: 48px !important; }

/* fonts import */

@font-face {
	font-family: "Strasua";
	src: url("fonts/strasua.eot");
	src: url("fonts/strasua.eot?#iefix") format("embedded-opentype"),
	url("fonts/strasua.ttf") format("truetype"),
	url("fonts/strasua.svg#JournalRegular") format("svg");
}

/* styles for logo */

.pheix-admin__login-logo {
	font-family: "Strasua", sans-serif;
	text-decoration: none;
	font-weight: normal;
	font-size:35px;
	text-shadow: 1px 1px #444;
}

.pheix-admin__logo {
	font-family: "Strasua", sans-serif;
	color: #20a08f;
	font-size: 50px;
	text-decoration: none;
	font-weight: normal;
}

a.pheix-admin__logo-link, a.pheix-admin__logo-link:visited {
	font-family:Strasua, sans-serif;
	color: #1b8899;
	font-size:50px;
	text-decoration: none;
	font-weight: normal;
	line-height: 1em !important;
}
a.pheix-admin__logo-link:hover { color: #195e66; }

.pheix-admin__slogan {
	font-family: 'Roboto', sans-serif;
	color: #A0A0A0;
	font-size: 12px;
	text-decoration: none;
	font-weight: normal;
}

/* navi styles */

.pheix-admin__hrztl-nav a { font-size: 18pt; }

/* alignings */

.pheix-admin__alignc { text-align:center; }
.pheix-admin__alignr { text-align:right; }
.pheix-admin__alignl { text-align:left; }

/* wrappers */

.pheix-admin__nav-search > .material-icons { display: inline-block; margin-top: 0px !important; cursor: pointer; width: 30px; }
.pheix-admin__mrg-8 { margin-top: 8px !important; }
.pheix-admin__mrg-16 { margin-top: 16px !important; }
.pheix-admin__mrg-top-btn-10 { margin-top: 10px !important; margin-bottom: 10px !important; }
.pheix-admin__mrg-top-btn-15 { margin-top: 15px !important; margin-bottom: 15px !important; }
.pheix-admin__mrg-top-btn-20 { margin-top: 20px !important; margin-bottom: 20px !important; }
.pheix-admin__mrg-top-btn-30 { margin-top: 30px !important; margin-bottom: 30px !important; }
.pheix-admin__mrg-top-btn-10-0 { margin-top: 10px !important; margin-bottom: 0px !important; }
.pheix-admin__mrg-clear { margin-top: 0px !important; padding: 0px !important; }
.pheix-admin__pdng-r-5 {padding-right: 5px !important; }
.pheix-admin__pdng-r-16 {padding-right: 16px !important; }
.pheix-admin__pdng-l-16 {padding-left: 16px !important; }
.pheix-admin__no-top-pdng { padding-top: 0px !important; }

/* lengthers */

.pheix-admin__collapse-icon-length { width: 27px !important; }
.pheix-admin__full-length { width:100% !important; }
.pheix-admin__auto-length { width:auto !important; }

/* colorers */
.pheix-admin__no-outline, .pheix-admin__no-outline:visited, .pheix-admin__no-outline:focus, .pheix-admin__no-outline:hover { outline: none !important; }
.pheix-admin__opacity-2 { opacity:0.2!important; }
.pheix-admin__opacity-4 { opacity:0.4 !important; }
.pheix-admin__opacity-6 { opacity:0.6 !important; }
.pheix-admin__bg-color-olive { border-color: #7ec601 !important; }
.pheix-admin__bg-color-mgnta { border-color: #ca73dd !important; }

/* left bar account */

.pheix-admin__left-nav-full-width { width: 240px !important;}
.pheix-admin__account-member-username {
	font-family: 'Roboto', sans-serif;
	margin: 0px;
	padding: 0px; 
	border-bottom: 1px dotted #666;
	color: #666;
}

.pheix-admin__dropdwn-menu-link, .pheix-admin__dropdwn-menu-link:visited, .pheix-admin__dropdwn-menu-link:hover { 
	color: #000 !important;
	text-decoration: none !important;
	font-weight:normal;
}
.pheix-admin__dropdwn-menu-item p, .pheix-admin__dropdwn-menu-item .material-icons { line-height: 48px !important; }
.pheix-admin__dropdwn-menu-item .material-icons { margin-right:20px; color: #999; }

.pheix-admin__account-member-username { cursor: pointer; }
.pheix-admin__account-member-username:hover { border-bottom: 1px dotted #1b8899; color: #1b8899 !important; }

.pheix-admin__account-member {
	border-bottom: 1px solid #eee;
	text-align: center;
	overflow: hidden;
}

.pheix-admin__account-member img.triple-stars {
	opacity:0.1;
}

.pheix-admin__account-member img.pheix-admin__avatar {
	width: 75px;
	height: 75px;
	border-radius: 50%;
}

.pheix-admin__account-member-avatar > .material-icons { font-size: 45pt !important; color: #424242;  opacity:0.5; }

/* search */

.pheix-admin__search-cont { padding: 13px 0 !important; }

/* responsive table */

.pheix-admin__table-responsive {
	min-height: .01%;
	overflow-x: auto;
	width: 100%;
}

@media screen and (max-width: 767px) {
	.pheix-admin__table-responsive {
		width: 100%;
		margin: 0 8px 15px 8px !important;
		padding: 0 !important;
		overflow-y: hidden;
		-ms-overflow-style: -ms-autohiding-scrollbar;
	}
	.pheix-admin__table-responsive > table {
		margin: 0 !important;
		padding: 0 !important;
	}
	.pheix-admin__table-responsive > .table {
		margin-bottom: 0;
	}
	.pheix-admin__table-responsive > .table > thead > tr > th,
	.pheix-admin__table-responsive > .table > tbody > tr > th,
	.pheix-admin__table-responsive > .table > tfoot > tr > th,
	.pheix-admin__table-responsive > .table > thead > tr > td,
	.pheix-admin__table-responsive > .table > tbody > tr > td,
	.pheix-admin__table-responsive > .table > tfoot > tr > td {
		white-space: nowrap;
	}
	.pheix-admin__table-responsive > .table-bordered {
		border: 0;
	}
	.pheix-admin__table-responsive > .table-bordered > thead > tr > th:first-child,
	.pheix-admin__table-responsive > .table-bordered > tbody > tr > th:first-child,
	.pheix-admin__table-responsive > .table-bordered > tfoot > tr > th:first-child,
	.pheix-admin__table-responsive > .table-bordered > thead > tr > td:first-child,
	.pheix-admin__table-responsive > .table-bordered > tbody > tr > td:first-child,
	.pheix-admin__table-responsive > .table-bordered > tfoot > tr > td:first-child {
		border-left: 0;
	}
	.pheix-admin__table-responsive > .table-bordered > thead > tr > th:last-child,
	.pheix-admin__table-responsive > .table-bordered > tbody > tr > th:last-child,
	.pheix-admin__table-responsive > .table-bordered > tfoot > tr > th:last-child,
	.pheix-admin__table-responsive > .table-bordered > thead > tr > td:last-child,
	.pheix-admin__table-responsive > .table-bordered > tbody > tr > td:last-child,
	.pheix-admin__table-responsive > .table-bordered > tfoot > tr > td:last-child {
		border-right: 0;
	}
	.pheix-admin__table-responsive > .table-bordered > tbody > tr:last-child > th,
	.pheix-admin__table-responsive > .table-bordered > tfoot > tr:last-child > th,
	.pheix-admin__table-responsive > .table-bordered > tbody > tr:last-child > td,
	.pheix-admin__table-responsive > .table-bordered > tfoot > tr:last-child > td {
		border-bottom: 0;
	}
}

/* Loader */

.pheix-admin__loader {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #333;
	z-index: 99999;
	text-align: center;
}

.pheix-admin__loader p {
	line-height: 100vh;
	color: white;
}

/* Message box */
.pheix-admin__message-box .close {
	font-weight: bold;
	text-align: right;
	cursor: pointer;
}

.pheix-admin__message-box p:first-child {
	font-weight: bold;
	color: #ea1b75;
}

/* Alert boxes */

.pheix-admin__alertbox p:first-child {
	font-weight: bold;
}

.pheix-admin__alertbox .close {
	font-weight: bold;
	text-align: right;
	cursor: pointer;
}

.pheix-admin__alertbox.info {
	background-color: #b3e5fc;
}

.pheix-admin__alertbox.info .close {
	color: #29b6f6;
}

.pheix-admin__alertbox.warning {
	background-color: #ffe57f;
}

.pheix-admin__alertbox.warning .close {
	color: #ffab00;
}

.pheix-admin__alertbox.success {
	background-color: #ccff90;
}

.pheix-admin__alertbox.success .close {
	color: #76ff03;
}

.pheix-admin__alertbox.danger {
	background-color: #ffccbc;
}

.alertbox.danger .close {
	color: #f4511e;
}

/* General */
.pheix-admin__chart-legend {
	border: none;
	border-radius: 1px;
}

.pheix-admin__home-page-tab {
	display:table;
	width: 100%;
	height: 100%;
}

.pheix-admin__home-page-tab-td {
	display:table-cell;
	text-align:center;
	vertical-align:middle;
}

.pheix-admin__card-square {
	margin: auto;
	display:inline-block;
	text-align:left;
	max-width:300px;
}

.pheix-admin__card-square .mdl-card__title-text {
	color: #666;
}

.pheix-admin__vertical-menu i, p{
	display: inline-block;
	vertical-align: top;
}


.pheix-admin__task-card ul {
	list-style: none;
	padding: 0;
}

.pheix-admin__task-card .mdl-checkbox__box-outline {
	border-color: white;
}

.pheix-admin__dialog_logo_border {
	border-bottom: 5px solid #a8d3f7;
}

